<header *ngIf="!navbarService.hidden">
  <a [routerLink]="['/']">
    <mat-icon *ngIf="navbarService.backBtn" id="backBtn">arrow_back</mat-icon>
  </a>
  <h1>MAGSON Scrum</h1>
  <div id="profilePic" [matMenuTriggerFor]="menu">
    <img [src]="profileUrl" alt="">
    <mat-icon>account_circle</mat-icon>
  </div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div id="infoWrapper">
      <img [src]="profileUrl" alt="">
      <div>
        <p id="name">{{profileName}}</p>
        <p id="email">{{profileEmail}}</p>
      </div>
    </div>
    <div id="darkModeSettings">
      <p>Dark mode:</p>
      <mat-slide-toggle [checked]="darkTheme" (change)="toggleTheme($event)" (click)="$event.stopPropagation()"></mat-slide-toggle>
    </div>
    <button mat-menu-item (click)="auth.logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</header>
