header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--header);
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 6px rgba(59, 64, 69, 0.1);
}

#logo {
    width: 45px;
    color: var(--button-color);
}

header h1 {
    margin: 0;
    color: var(--header-title);
    font-size: 30px;
    font-family: audiowide;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% - 160px);
}

#profilePic {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 25px;
    cursor: pointer;
}

#profilePic img {
    width: 100%;
    height: 100%;
}

#profilePic mat-icon {
    position: absolute;
    font-size: 42px;
}

#infoWrapper,
#darkModeSettings {
    display: flex;
    margin: 0 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, .87);
}

#infoWrapper img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#name {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
    margin-left: 7px;
}

#email {
    font-size: 15px;
    margin-left: 7px;
    margin-top: 2px;
}

mat-slide-toggle {
    margin: 16px;
}

#backBtn {
    position: absolute;
    line-height: 64px;
    text-align: center;
    top: 0;
    left: 35px;
    font-size: 32px;
    color: var(--txt-color);
}

@media only screen and (max-width: 800px) {
    header {
        height: 56px;
    }
    header h1 {
        font-size: 24px;
        width: calc(100% - 120px);
    }
    #magsonLogo {
        text-shadow: 0 1px 4px var(--button-accent);
    }
    #profilePic {
        right: 10px;
    }
    #backBtn {
        line-height: 56px;
        left: 16px;
        font-size: 30px;
    }
}