<header *ngIf="!navbarService.hidden">
  <a [routerLink]="['/']">
    <mat-icon *ngIf="navbarService.backBtn" id="backBtn">arrow_back</mat-icon>
  </a>
  <svg *ngIf="!navbarService.title" id="logo" version="1.1" xmlns="&ns_svg;" xmlns:xlink="&ns_xlink;" width="512" height="522"
    viewBox="0 0 512 522" overflow="visible" enable-background="new 0 0 512 522" xml:space="preserve">
    <g id="Layer_2">
      <circle fill="none" stroke="currentcolor" stroke-width="44" cx="255" cy="130" r="85" />
      <circle fill="none" stroke="currentcolor" stroke-width="44" cx="108" cy="385" r="85" />
      <circle fill="none" stroke="currentcolor" stroke-width="44" cx="403" cy="384" r="85" />
    </g>
    <g id="Layer_3">
      <g>
        <g>
          <path fill="currentcolor" d="M334.938,125.557C334.963,126.37,335,127.181,335,128c0,15.014-4.1,29.063-11.219,41.118
				C370.27,193.837,402,242.779,402,299c0,1.684-0.039,3.357-0.096,5.027c0.366-0.005,0.729-0.027,1.096-0.027
				c15.506,0,29.971,4.425,42.229,12.061C445.729,310.438,446,304.75,446,299C446,222.208,400.441,155.867,334.938,125.557z
				 M184.689,169.936C177.271,157.703,173,143.351,173,128c0-0.502,0.029-0.997,0.038-1.497C108.622,157.234,64,223.001,64,299
				c0,6.233,0.31,12.396,0.897,18.479C77.243,310.194,91.628,306,107,306c0.393,0,0.78,0.024,1.172,0.029
				c-0.11-2.33-0.172-4.673-0.172-7.029C108,243.396,139.034,194.907,184.689,169.936z M333.343,423.328
				C310.649,437.68,283.779,446,255,446c-26.866,0-52.067-7.25-73.762-19.889c-6.814,13.604-17.25,25.067-30.051,33.137
				C181.093,478.688,216.749,490,255,490c41.157,0,79.315-13.086,110.533-35.314C352.041,447.52,340.855,436.604,333.343,423.328z"
          />
        </g>
      </g>
    </g>
  </svg>
  <h1 *ngIf="navbarService.title">{{navbarService.title}}</h1>
  <div id="profilePic" [matMenuTriggerFor]="menu">
    <img [src]="profileUrl" alt="">
    <mat-icon>account_circle</mat-icon>
  </div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div id="infoWrapper">
      <img [src]="profileUrl" alt="">
      <div>
        <p id="name">{{profileName}}</p>
        <p id="email">{{profileEmail}}</p>
      </div>
    </div>
    <div id="darkModeSettings">
      <p>Dark mode:</p>
      <mat-slide-toggle [checked]="darkThemeActivated" (change)="toggleTheme($event)" (click)="$event.stopPropagation()"></mat-slide-toggle>
    </div>
    <button mat-menu-item (click)="sendFeedback()">
      <mat-icon>feedback</mat-icon>
      <span>Send feedback</span>
    </button>
    <button mat-menu-item (click)="auth.logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</header>
