header {
    height: 64px;
    background-color: #1D2A32;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    display: table;
    margin: 0;
    color: white;
    font-family: audiowide;
}

#profilePic {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 25px;
    cursor: pointer;
}

#profilePic img {
    width: 100%;
    height: 100%;
}

#profilePic mat-icon {
    position: absolute;
    font-size: 42px;
}

#infoWrapper,
#darkModeSettings {
    color: black;
    display: flex;
    margin: 0 16px;
    font-weight: 500;
}

#infoWrapper img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#name {
    font-size: 20px;
    margin: 0;
    margin-top: 3px;
    margin-left: 7px;
}

#email {
    font-size: 15px;
    margin-left: 7px;
    margin-top: 2px;
}

mat-slide-toggle {
    margin: 16px;
}

#backBtn {
    position: absolute;
    line-height: 64px;
    text-align: center;
    top: 0;
    left: 35px;
    font-size: 32px;
    color: white;
}

@media only screen and (max-width: 400px) {
    header h1 {
        font-size: 30px;
    }
}