<div class="tableDiv">
  <div id="tableHead">
    <div>
      <div id="reloadBtn">
      <mat-icon>refresh</mat-icon>
</div>
    </div>
  </div>
  <table id="table" cellspacing="0">
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let user of allUsers | async">
      <td>{{user.uid}}</td>
      <td>{{user.displayName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td> ???
    </tr>

    <!-- <tr>
      <td>XD6EkNokYXV3XTtW2UZys2FtcXI3</td>
      <td>Magnus Trandokken</td>
      <td>magnus@trandokken.com</td>
      <td>Admin</td>
    </tr>
    <tr>
      <td>XJKAJkSJ7s4NKS2noKFJOJLKJSLKb</td>
      <td>Sondre sørbye</td>
      <td>sondre@sorbye.no</td>
      <td>Admin</td>
    </tr>
    <tr>
      <td>XD6EkNXTtW2UssZys2FtJLcXI2SG</td>
      <td>Ola Nordmann</td>
      <td>ola@nordmann.no</td>
      <td>User</td>
    </tr> -->
  </table>
