@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

/* IMPORTANT: Theme must also be changed in navbar.ts */

body {
    --header: white;
    --cards: white;
    --txt-color: #484848;
    --txt-color-light: #B2B0B0;
    --bg-color: #F1F3F4;
    --button-color: #4285f4;
    --button-accent: #5491f5;
    --header-title: #484848;
    --link-color: #0000EE;
    --accent-light: #e8f0fe;
    --accent-light: #e8f0fe;
}

html,
body {
    margin: 0;
    font-family: roboto;
    color: var(--txt-color);
    background: var(--bg-color);
    transition: background-color .4s, color .4s;
    height: 100%;
}

main {
    max-width: 1600px;
    display: table;
    padding: 20px;
    width: calc(100% - 40px);
}

#addButton {
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: white;
    background-color: var(--button-color);
    cursor: pointer;
    outline: 0;
    z-index: 9;
    transition: all 0.2s;
}

#addButton:hover {
    background-color: var(--button-accent);
}

a {
    color: var(--link-color);
}

#spinnerWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    font-size: 15px;
}

/* didnt work in scrum component :( */

.mat-select-value {
    color: var(--txt-color) !important;
}

.mat-select-placeholder {
    color: var(--txt-color) !important;
}

.mat-select-arrow {
    color: var(--txt-color) !important;
}

@media only screen and (max-width: 800px) {
    h4 {
        font-size: 11px;
    }
}