service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only see the boards they are member of
    match /teams/{teamID}/boards/{boardID} {
      allow read, write: if get(/databases/$(database)/documents/teams/$(teamID)).data.members[request.auth.uid] == true;
    }

    // Members can only be added if they do not exist first
   // match /teams/{teamID} {
   //   allow read, write: if 
   // }

    // All users must be authenticated
    // match /{document=**)}  {
    //   allow read, write: if request.auth.uid != null;
    // }

  }
}
// /teams/imtaPFFgbkn5PrLzwzis/boards/ZJNibiSJpipuBxFXUCzz
// XD6EkNokYXV3XTtW2UZys2FtcXI3
