service cloud.firestore {
  match /databases/{database}/documents {
  

    // Users can only access their team
    // Needs to be updated when sharing link

    // -teams
    //   -{teamId}        --
    //      -members
    //        -{uid}
    //      -archived
    //        -{boardId}
    //      -boards
    //        -{boardId}  --
    //          -todo
    //          -inprogress
    //          -done

    // Enable to enable all read and write ops
    // match /{document=**} {
    //   allow read, write;
    // }
    // 
    // 
    
    match /users/{uid} {
    	allow read, write;
    }

    match /teams/{teamId} {
      allow read: if isMemberOfTeam(existingData());
      allow update: if isMemberOfTeam(existingData());
      allow create: if isSignedIn();
      allow delete: if isAdmin(existingData());

      match /codes/{codeId} {
        allow create: if isAdmin(get(/databases/$(database)/documents/teams/$(teamId)).data);
      }

      match /archived/{boardID} {
        allow read: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data) 
              || boardIsPublic(existingData());
        allow write: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data);
      }

      match /boards/{boardID} {
        allow read: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data) 
              || boardIsPublic(existingData());
        allow write: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data);

        // All subcollection
        match /{document=**} {
          allow read: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data) 
                || boardIsPublic(get(/databases/$(database)/documents/teams/$(teamId)).data);
          allow write: if isMemberOfTeam(get(/databases/$(database)/documents/teams/$(teamId)).data);
         }
      }

     }

      // TODO allow quit team
      // allow write: if isAdmin(teamId);

    match /threads/{threadId} {
      allow read, write;
      match /{document=**} {
        allow read, write;
      }
    }


    match /feedback/{feedBackId} {
      allow write: if isSignedIn();
    }
    
    function isMemberOfTeam(teamDoc) {
    	return teamDoc.members[request.auth.uid].isMember;
    }
    
    function isAdmin(teamDoc) {
    	return teamDoc.members[request.auth.uid].isAdmin;
    }
    
    function boardIsPublic(boardDoc) {
    	return boardDoc.isPublic;
    }
    
  	function isSignedIn() {
    	return request.auth.uid != null;
    }
    
    function existingData() {
    	return resource.data;
    }
    
    function incomingData() {
    	return request.resource.data;
    }
		
  }
}
// /teams/imtaPFFgbkn5PrLzwzis/boards/ZJNibiSJpipuBxFXUCzz
// mugg: XD6EkNokYXV3XTtW2UZys2FtcXI3
// Sørbye: mt8bo6uGQTXwJbYAyFIo2sJVQJJ2


    // // only admins can change team settings
    // match /teams/{teamId} {
    // 	allow read: if memberOfTeam(teamId);
    // 	
    // }
    
    // // public if 
    // match /teams/{teamId}/boards/{boardID} {
  	// 	allow read: if memberOfTeam(teamId) || boardIsPublic();
    //   allow write: if memberOfTeam(teamId);
    // }
