<!-- <button (click)="linkShareSwal.show()" id="shareBtn" mat-stroked-button>
  <mat-icon>link</mat-icon>Share</button> -->
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div>
  <div id="tabNav" *ngIf="isSignedIn">
    <ul>
      <li [class.active]="navTab == 'todo'" class="selected" (click)="navTab = 'todo'">Tasks</li>
      <li [class.active]="navTab == 'bugs'" class="selected" (click)="navTab = 'bugs'">Bugs</li>
      <li [class.active]="navTab == 'ideas'" (click)="navTab = 'ideas'">Ideas</li>
      <li [class.active]="navTab == 'notes'" (click)="navTab = 'notes'">Notes</li>
      <li [class.active]="navTab == 'beta'" (click)="navTab = 'beta'">Feedback</li>
    </ul>
  </div>
  <main [ngSwitch]='navTab'>
    <div *ngIf="isSignedIn">
      <!-- No tasks -->
      <div *ngIf="($todo | async)?.length == 0 && ($inProgress | async)?.length == 0 && ($done | async)?.length == 0 && navTab == 'todo'">
        <div class="no_content_div">
          <h1>Keep your project´s tasks organized and availible for the whole team</h1>
          <button (click)="add()" (click)="$event.stopPropagation()">Create task</button>
        </div>
      </div>

      <div *ngIf="!(($todo | async)?.length == 0 && ($inProgress | async)?.length == 0 && ($done | async)?.length == 0)">
        <div class="todoContainer" *ngSwitchCase="'todo'">
          <div id="sortBy">
            <mat-icon>sort</mat-icon>
            <mat-select placeholder="Sort by" [(value)]="sortBy" (selectionChange)="sortChanged()">

              <mat-option (click)='sendEvent("Newest")' value='{"field": "time", "direction": "desc"}'>Newest</mat-option>
              <mat-option (click)='sendEvent("Oldest")' value='{"field": "time", "direction": "asc"}'>Oldest</mat-option>
              <mat-option (click)='sendEvent("Alphabetical")' value='{"field": "txt", "direction": "asc"}'>Alfabetical</mat-option>
              <mat-option (click)='sendEvent("Priority")' value='{"field": "priority", "direction": "desc"}'>Priority</mat-option>
            </mat-select>
          </div>
          <button mat-fab id="addButton" (click)="add()" (click)="$event.stopPropagation()">
            <mat-icon>add</mat-icon>
          </button>
          <section id="todoSection">
            <h3>TODO ({{($todo | async)?.length}})</h3>
            <div id="todoElements">
              <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let entry of $todo | async; trackBy: identify">
                <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="edit(entry, todoCollection)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="assign(entry)">
                    <mat-icon>face</mat-icon>
                    <span>Assign developer</span>
                  </button>
                  <button mat-menu-item (click)="openThread(entry)">
                    <mat-icon>chat</mat-icon>
                    <span>Comments</span>
                  </button>
                  <button mat-menu-item (click)="delete(entry, todoCollection)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
                <div class="container">
                  <p>
                    <strong>Priority: {{entry.priority}}</strong>
                  </p>
                  <p [innerHTML]="entry.txt | linky"></p>
                </div>
                <button class="setButton" (click)="moveToProgress(entry)">SET TO INPROGRESS</button>
              </div>
            </div>

          </section>
          <section id="inprogressSection">
            <h3>In progress ({{($inProgress | async)?.length}})</h3>
            <div id="inprogressElements">
              <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let entry of $inProgress | async; trackBy: identify">
                <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="edit(entry, inProgressCollection)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="openThread(entry)">
                    <mat-icon>chat</mat-icon>
                    <span>Comments</span>
                  </button>
                  <button mat-menu-item (click)="rollback_from_inprogress(entry)">
                    <mat-icon>replay</mat-icon>
                    <span>Rollback</span>
                  </button>
                  <button mat-menu-item (click)="delete(entry, inProgressCollection)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
                <div class="container withProfilePic">
                  <div id="profilePic">
                    <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <strong>{{entry.developer}}</strong>
                  <p [innerHTML]="entry.txt | linky"></p>
                </div>
                <button class="setButton" (click)="moveToFinished(entry)">SET TO FINISHED</button>
              </div>
            </div>
          </section>
          <section id="finishedSection">
            <h3>Done ({{($done | async)?.length}})</h3>
            <div id="finishedElements">
              <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let entry of $done | async; trackBy: identify">
                <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="edit(entry, doneCollection)">
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item (click)="openThread(entry)">
                    <mat-icon>chat</mat-icon>
                    <span>Comments</span>
                  </button>
                  <button mat-menu-item (click)="rollback_from_finished(entry)">
                    <mat-icon>replay</mat-icon>
                    <span>Rollback</span>
                  </button>
                  <button mat-menu-item (click)="delete(entry, doneCollection)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
                <div class="container withProfilePic">
                  <div id="profilePic">
                    <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
                    <mat-icon>account_circle</mat-icon>
                  </div>
                  <strong>{{entry.developer}}</strong>
                  <p [innerHTML]="entry.txt | linky"></p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>


      <div *ngSwitchCase="'bugs'">
        <!-- No bugs -->
        <!-- TODO: Why is it slow? -->
        <div *ngIf="($bugs | async)?.length == 0 && navTab == 'bugs'">
          <div class="no_content_div">
            <h1>Report and keep the bugs in one place to make bugfixing easier for everyone </h1>
            <button (click)="addBug()" (click)="$event.stopPropagation()">Report bug</button>
          </div>
        </div>

        <section *ngIf="!(($bugs | async)?.length == 0)">
          <h3>Bugs ({{($bugs | async)?.length}})</h3>
          <div class="gridWrapper">
            <div [@entriesAnim]="loading ? null : 'in'" class="gridCard" *ngFor="let bug of $bugs | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editBug(bug, bugCollection)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(bug)">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="deleteBug(bug, bugCollection)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container">
                <p>
                  <strong>Priority: {{bug.priority}}</strong>
                </p>
                <p [innerHTML]="bug.txt | linky"></p>
              </div>
              <button class="setButton" (click)="move_to_inprogress(bug, bugCollection)">MOVE TO INPROGRESS</button>
            </div>
          </div>
          <button mat-fab id="addButton" (click)="addBug()" (click)="$event.stopPropagation()">
            <mat-icon>add</mat-icon>
          </button>
        </section>
      </div>


      <div *ngSwitchCase="'ideas'">
        <!-- No ideas -->
        <!-- TODO: Why is it slow? -->

        <div *ngIf="($ideas | async)?.length == 0 && navTab == 'ideas'">
          <div class="no_content_div">
            <h1>Dribble down your idea and share it with the team before it slips away</h1>
            <button (click)="addIdea()" (click)="$event.stopPropagation()">Add idea</button>
          </div>
        </div>
        <section *ngIf="!(($ideas | async)?.length == 0)">
          <h3>Ideas ({{($ideas | async)?.length}})</h3>
          <div class="gridWrapper">
            <div [@entriesAnim]="loading ? null : 'in'" class="gridCard" *ngFor="let idea of $ideas | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editIdea(idea)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(idea)">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="deleteIdea(idea)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container withProfilePic">
                <div id="profilePic">
                  <img *ngIf="idea.imgUrl" src="{{idea.imgUrl}}">
                  <mat-icon>account_circle</mat-icon>
                </div>
                <strong>{{idea.developer}}</strong>
                <p [innerHTML]="idea.txt | linky"></p>
              </div>
              <button class="setButton" (click)="move_to_inprogress(idea, ideaCollection)">MOVE TO TASKS</button>
            </div>
          </div>
          <button mat-fab id="addButton" (click)="addIdea()" (click)="$event.stopPropagation()">
            <mat-icon>add</mat-icon>
          </button>
        </section>
      </div>

      <div *ngSwitchCase="'notes'">
        <!-- No notes -->
        <!-- TODO: Why is it slow? -->

        <div *ngIf="($notes | async)?.length == 0 && navTab == 'notes'">
          <div class="no_content_div">
            <h1>Write down the little important things about the project</h1>
            <button (click)="addNote()" (click)="$event.stopPropagation()">Add note</button>
          </div>
        </div>
        <section *ngIf="!(($notes | async)?.length == 0)">
          <h3>Notes ({{($notes | async)?.length}})</h3>
          <div class="gridWrapper">
            <div [@entriesAnim]="loading ? null : 'in'" class="gridCard" *ngFor="let note of $notes | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editNote(note, noteCollection)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(note)">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="deleteNote(note, noteCollection)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container withProfilePic">
                <div id="profilePic">
                  <img *ngIf="note.imgUrl" src="{{note.imgUrl}}">
                  <mat-icon>account_circle</mat-icon>
                </div>
                <strong>{{note.developer}}</strong>
                <p [innerHTML]="note.txt | linky"></p>
              </div>
              <!--  <button class="setButton" (click)="add_to_todo(note)">MOVE TO TASKS</button> -->
            </div>
          </div>
          <button mat-fab id="addButton" (click)="addNote()" (click)="$event.stopPropagation()">
            <mat-icon>add</mat-icon>
          </button>
        </section>
      </div>

    </div>
    <!-- No betatester reports -->
    <!-- TODO: Why is it slow? -->
    <div *ngIf="(($client_bugs | async)?.length == 0 && ($c_features | async)?.length == 0 && ($c_notes | async)?.length == 0) && navTab=='beta'">
      <div class="no_content_div" *ngIf="isPublic == false">
        <h1>No customer has done anything blablba ispublic: {{isPublic}}. Share link now</h1>
        <button (click)="linkShareSwal.show()" (click)="$event.stopPropagation()">Make public</button>
      </div>
      <div class="no_content_div" *ngIf="isPublic == true">
        <h1>No data yet but link is public.... share link with others</h1>
        <!-- TODO: action to share link -->
        <button (click)="$event.stopPropagation()">Share link</button>
      </div>
    </div>


    <div *ngIf="!(($client_bugs | async)?.length == 0 && ($c_features | async)?.length == 0 && ($c_notes | async)?.length == 0)">
      <div class="todoContainer" *ngSwitchCase="'beta'">
        <!-- <div id="sortBy">
        <mat-icon>sort</mat-icon>
        <mat-select placeholder="Sort by" [(value)]="sortBy" (selectionChange)="sortChanged()">

          <mat-option (click)='sendEvent("Alphabetical")' value='{"field": "txt", "direction": "asc"}'>Alfabetical</mat-option>
          <mat-option (click)='sendEvent("Newest")' value='{"field": "time", "direction": "desc"}'>Newest</mat-option>
          <mat-option (click)='sendEvent("Oldest")' value='{"field": "time", "direction": "asc"}'>Oldest</mat-option>
          <mat-option (click)='sendEvent("Priority")' value='{"field": "priority", "direction": "desc"}'>Priority</mat-option>
        </mat-select>
      </div> -->
        <section>
          <h3>Bugs ({{($client_bugs | async)?.length}})</h3>
          <div>
            <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let c_bug of $client_bugs | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editBug(c_bug, client_bugs_collection)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(c_bug.id, 'client_bugs')">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="deleteBug(c_bug, client_bugs_collection)" *ngIf="isSignedIn">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container">
                <p>
                  <strong>Priority: {{c_bug.priority}}</strong>
                </p>
                <p [innerHTML]="c_bug.txt | linky"></p>
              </div>
              <button class="setButton" (click)="moveToBugs(c_bug)" *ngIf="isSignedIn">MOVE TO BUGS</button>
            </div>
          </div>
        </section>

        <section>
          <h3>Feature requests ({{($c_features | async)?.length}})</h3>
          <div>
            <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let c_feature of $c_features | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="edit_feature_request(c_feature)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(c_feature.id, 'client_feature_request')">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="delete_feature_request(c_feature)" *ngIf="isSignedIn">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container">
                <p>
                  <strong>Priority: {{c_feature.priority}}</strong>
                </p>
                <p [innerHTML]="c_feature.txt | linky"></p>
              </div>
              <button class="setButton" (click)="move_to_inprogress(c_feature, client_feature_collection)" *ngIf="isSignedIn">SET
                INPROGRESS</button>
            </div>
          </div>
        </section>

        <section>
          <h3>Notes ({{($c_notes | async)?.length}})</h3>
          <div>
            <div [@entriesAnim]="loading ? null : 'in'" class="card" *ngFor="let c_note of $c_notes | async; trackBy: identify">
              <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editNote(c_note, client_notes_collection)">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button mat-menu-item (click)="openThread(c_note.id, 'client_notes')">
                  <mat-icon>chat</mat-icon>
                  <span>Comments</span>
                </button>
                <button mat-menu-item (click)="deleteNote(c_note, client_notes_collection)" *ngIf="isSignedIn">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
              <div class="container">
                <p [innerHTML]="c_note.txt | linky"></p>
              </div>
            </div>
          </div>
        </section>
        <button mat-fab id="addButton" (click)="add_feedback()" (click)="$event.stopPropagation()" *ngIf="!isSignedIn && isPublic">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </main>
</div>


<swal #linkShareSwal title="Share with people outside the team">
  <div *swalPartial>
    <p>You can send the link to other users so they can view the progress of your team.</p>
    <mat-slide-toggle (change)="uploadBoardVisibility($event)" [(checked)]="isPublic">
      Enable shareable link
    </mat-slide-toggle>
    <button mat-raised-button (click)="copyLinkTxt()" id="copyLinkBtn">Copy link</button>
    <br>
    <mat-form-field id="shareableLink">
      <input matInput id="shareableLinkInp" [value]="shareableLink" (click)="copyLinkTxt()" type="text" readonly>
    </mat-form-field>
  </div>
</swal>