<!-- <button (click)="linkShareSwal.show()" id="shareBtn" mat-stroked-button>
  <mat-icon>link</mat-icon>Share</button> -->
<mat-progress-bar *ngIf="scrumService.loading" mode="indeterminate"></mat-progress-bar>


<!-- commented out till you make it homie -->
<header>
  <div id="tabNav" *ngIf="isSignedIn">
    <ul>
      <li [class.active]="navTab == 'todo'" class="selected" (click)="navTab = 'todo'">Tasks</li>
      <li [class.active]="navTab == 'bugs'" class="selected" (click)="navTab = 'bugs'">Bugs</li>
      <li [class.active]="navTab == 'ideas'" (click)="navTab = 'ideas'">Ideas</li>
      <li [class.active]="navTab == 'notes'" (click)="navTab = 'notes'">Notes</li>
      <li [class.active]="navTab == 'beta'" (click)="navTab = 'beta'">Feedback</li>
    </ul>
  </div>
</header>



<main [ngSwitch]='navTab'>
  <div *ngIf="isSignedIn">


    <div class="todoContainer" *ngSwitchCase="'todo'">
      <app-tasks [scrumService]="scrumService"></app-tasks>
    </div>


    <div *ngSwitchCase="'notes'">
    </div>





  </div>
  <!-- No betatester reports -->
  <!-- TODO: Why is it slow? -->
  <div *ngIf="((scrumService.$client_bugs | async)?.length == 0 
    && (scrumService.$c_features | async)?.length == 0 
    && (scrumService.$c_notes | async)?.length == 0) 
    && navTab=='beta'">
    <div class="no_content_div" *ngIf="isPublic == false">
      <h1>No customer has done anything blablba ispublic: {{isPublic}}. Share link now</h1>
      <button (click)="linkShareSwal.show()" (click)="$event.stopPropagation()">Make public</button>
    </div>
    <div class="no_content_div" *ngIf="isPublic == true">
      <h1>No data yet but link is public.... share link with others</h1>
      <!-- TODO: action to share link -->
      <button (click)="$event.stopPropagation()">Share link</button>
    </div>
  </div>


  <div *ngIf="!(($client_bugs | async)?.length == 0 && ($c_features | async)?.length == 0 && ($c_notes | async)?.length == 0)">
    <div class="todoContainer" *ngSwitchCase="'beta'">
      <!-- <div id="sortBy">
        <mat-icon>sort</mat-icon>
        <mat-select placeholder="Sort by" [(value)]="sortBy" (selectionChange)="sortChanged()">

          <mat-option (click)='sendEvent("Alphabetical")' value='{"field": "txt", "direction": "asc"}'>Alfabetical</mat-option>
          <mat-option (click)='sendEvent("Newest")' value='{"field": "time", "direction": "desc"}'>Newest</mat-option>
          <mat-option (click)='sendEvent("Oldest")' value='{"field": "time", "direction": "asc"}'>Oldest</mat-option>
          <mat-option (click)='sendEvent("Priority")' value='{"field": "priority", "direction": "desc"}'>Priority</mat-option>
        </mat-select>
      </div> -->
      <section>
        <h3>Bugs ({{(scrumService.$client_bugs | async)?.length}})</h3>
        <div>
          <div [@entriesAnim]="scrumService.loading ? null : 'in'" class="card" 
            *ngFor="let c_bug of scrumService.$client_bugs | async; trackBy: identify">
            <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editBug(c_bug, scrumService.client_bugs_collection)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="openThread(c_bug.id, 'client_bugs')">
                <mat-icon>chat</mat-icon>
                <span>Start thread</span>
              </button>
              <button mat-menu-item (click)="deleteBug(c_bug, scrumService.client_bugs_collection)" *ngIf="isSignedIn">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <div class="container">
              <p>
                <strong>Priority: {{c_bug.priority}}</strong>
              </p>
              <p [innerHTML]="c_bug.txt | linky"></p>
            </div>
            <button class="setButton" (click)="moveToBugs(c_bug)" *ngIf="isSignedIn">MOVE TO BUGS</button>
          </div>
        </div>
      </section>

      <section>
        <h3>Feature requests ({{(scrumService.$c_features | async)?.length}})</h3>
        <div>
          <div [@entriesAnim]="scrumService.loading ? null : 'in'" class="card" *ngFor="let c_feature of scrumService.$c_features | async; trackBy: identify">
            <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="edit_feature_request(c_feature)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="openThread(c_feature.id, 'client_feature_request')">
                <mat-icon>chat</mat-icon>
                <span>Start thread</span>
              </button>
              <button mat-menu-item (click)="delete_feature_request(c_feature)" *ngIf="isSignedIn">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <div class="container">
              <p>
                <strong>Priority: {{c_feature.priority}}</strong>
              </p>
              <p [innerHTML]="c_feature.txt | linky"></p>
            </div>
            <button class="setButton" (click)="move_bug_to_inprogress(c_feature, scrumService.client_feature_collection)" *ngIf="isSignedIn">SET
              INPROGRESS</button>
          </div>
        </div>
      </section>

      <section>
        <h3>Notes ({{(scrumService.$c_notes | async)?.length}})</h3>
        <div>
          <div [@entriesAnim]="scrumService.loading ? null : 'in'" class="card" *ngFor="let c_note of scrumService.$c_notes | async; trackBy: identify">
            <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="editNote(c_note, scrumService.client_notes_collection)">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item (click)="openThread(c_note.id, 'client_notes')">
                <mat-icon>chat</mat-icon>
                <span>Start thread</span>
              </button>
              <button mat-menu-item (click)="deleteNote(c_note, scrumService.client_notes_collection)" *ngIf="isSignedIn">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
            <div class="container">
              <p [innerHTML]="c_note.txt | linky"></p>
            </div>
          </div>
        </div>
      </section>
      <button mat-fab id="addButton" (click)="add_feedback()" (click)="$event.stopPropagation()" *ngIf="!isSignedIn && isPublic">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</main>

<swal #linkShareSwal title="Share with people outside the team">
  <div *swalPartial>
    <p>You can send the link to other users so they can view the progress of your team.</p>
    <mat-slide-toggle (change)="uploadBoardVisibility($event)" [(checked)]="isPublic">
      Enable shareable link
    </mat-slide-toggle>
    <button mat-raised-button (click)="copyLinkTxt()" id="copyLinkBtn">Copy link</button>
    <br>
    <mat-form-field id="shareableLink">
      <input matInput id="shareableLinkInp" [value]="shareableLink" (click)="copyLinkTxt()" type="text" readonly>
    </mat-form-field>
  </div>
</swal>