main {
    max-width: 750px;
    width: calc(100% - 40px);
    padding: 20px;
    margin: 0 auto;
}

#addMemberInp {
    width: calc(100% - 120px);
}

#addMemberForm button {
    float: right;
}

#memberWrapper {
    position: relative;
    height: 66px;
}

#memberWrapper:nth-child(2n) {
    background-color: #fafafa;
}

#nameTxt {
    position: absolute;
    top: 0px;
    left: 87px;
    width: calc(100% - 90px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
    font-size: 21px;
    line-height: 66px;
    margin: 0;
}

#memberTypeTxt {
    line-height: 66px;
    font-weight: 100;
    font-size: 17px;
    color: #6d6b6b;
}

#profilePic {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 12px;
    margin-left: 25px;
    display: inline-block;
}

#profilePic img {
    width: 100%;
    height: 100%;
}

#profilePic mat-icon {
    position: absolute;
    font-size: 42px;
}

.menuBtn {
    position: absolute;
    top: 10px;
    right: 20px;
}

#dangerTxt {
    color: red;
}

#deleteTeamBtn {
    background: red;
    color: white;
}
