<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<main>
  <h1 *ngIf="isAdmin">Team setting</h1>
  <h1 *ngIf="!isAdmin">Team members</h1>

  <!-- Change name of team -->
  <div *ngIf="isAdmin">
    <h2>Change team name</h2>
    <form [formGroup]="nameForm" (ngSubmit)="onNameFormSubmit()">
      <mat-form-field class="inp">
        <input matInput placeholder="Name" [formControl]="changeNameFormControl">
        <mat-error *ngIf="changeNameFormControl.hasError('required')">
          Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button>Change team name</button>
    </form>

    <h2>Manage team members</h2>
    <form *ngIf="isAdmin" [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="inp">
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl?.hasError('email') && !emailFormControl?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button>Add to team</button>
    </form>
  </div>


  <div id="members">
    <div *ngFor="let member of (team$ | async)?.members | mapToIterable; let members" id="memberWrapper">
      <div id="profilePic">
        <img *ngIf="member.val.imgUrl" src="{{member.val.imgUrl}}">
        <mat-icon>account_circle</mat-icon>
      </div>
      <strong id="nameTxt">{{ member.val.name }}
        <span *ngIf="member.val.isAdmin" id="memberTypeTxt">Admin</span>
        <span *ngIf="member.val.isMember == false" id="memberTypeTxt">Pending</span>
        <span *ngIf="member.val.isMember && !member.val.isAdmin" id="memberTypeTxt">Member</span>
      </strong>
      <mat-menu #memberOptionsMenu="matMenu">
        <button mat-menu-item *ngIf="!member.val.isAdmin" (click)="promoteAdmin(member.key)">
          <mat-icon>how_to_reg</mat-icon>
          <span>Promote to admin</span>
        </button>
        <button mat-menu-item *ngIf="member.val.isAdmin" (click)="removeAdmin(member.key)">
          <mat-icon>keyboard_arrow_down</mat-icon>
          <span>Demote user</span>
        </button>
        <button mat-menu-item (click)="deleteMember(member.key)">
          <mat-icon>exit_to_app</mat-icon>
          <span *ngIf="member.val.isMember == false; else removeMemberTxt">Cancel invitation</span>
          <ng-template #removeMemberTxt>
            <span>Remove member</span>
          </ng-template>
        </button>
      </mat-menu>
      <button *ngIf="!(member.key == (auth.user$ | async)?.uid) && isAdmin" class="menuBtn" mat-icon-button
        [matMenuTriggerFor]="memberOptionsMenu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <br>

  <div id="uploadImg" *ngIf="isAdmin">
    <h2>Upload team image</h2>

    <img [src]="(team$ | async)?.imgURL" alt="">

    <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">
      <h3>AngularFire Drop Zone</h3>

      <div class="file">
        <label class="file-label">


          <input class="file-input" type="file" (change)="startUpload($event.target.files)">


          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
    </div>
    <div *ngIf="percentage | async as pct">

      <progress class="prog ress is-info" [value]="pct" max="100">
      </progress>

      {{ pct | number }}%

    </div>
    <div *ngIf="snapshot | async as snap">
      {{ snap.bytesTransferred }} of {{ snap.totalBytes }}

      <div *ngIf="downloadURL | async as url">
        <h3>Results!</h3>
        <img [src]="url"><br>
        <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
      </div>
    </div>
  </div>

  <br>

  <div id="deleteTeamWrapper" *ngIf="isAdmin">
    <h2 id="dangerTxt">Danger zone</h2>
    <p>This will delete the team and all of its data for you and all the members. This action cannot be undone</p>
    <button mat-raised-button (click)="deleteTeam()" id="deleteTeamBtn">Delete team</button>
  </div>
</main>