<main>
  <h1>Mangage members of the team</h1>

  <form>
    <mat-form-field>
      <input matInput placeholder="Email " value="Sushi">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is
        <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button>Add user</button>
  </form>

  <div id="members">
    <div *ngFor="let member of (team$ | async)?.members | mapToIterable" id="memberWrapper">
      <div id="profilePic">
        <img *ngIf="member.val.imgUrl" src="{{member.val.imgUrl}}">
        <mat-icon>account_circle</mat-icon>
      </div>
      <strong id="nameTxt">{{ member.val.name }}
        <span id="memberTypeTxt">Admin</span>
      </strong>

      <mat-menu #memberOptionsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>promote</mat-icon>
          <span>Set member to admin</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Remove member</span>
        </button>
      </mat-menu>
      <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="memberOptionsMenu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</main>