<div class="nav">
  <span class="navBtn navHeader">Admin</span>
  <i class="navBtn">
    <div>
      <mat-icon>person</mat-icon>
      <span class="navTxt">Users</span>
    </div>
  </i>
  <i class="navBtn">
    <div>
      <mat-icon>group</mat-icon>
      <span class="navTxt">Teams</span>
    </div>
  </i>
  <i class="navBtn">
    <div>
      <mat-icon>build</mat-icon>
      <span class="navTxt">Feedback</span>
    </div>
  </i>
  <i class="navBtn">
    <div>
      <mat-icon>feedback</mat-icon>
      <span class="navTxt">Maintenance</span>
    </div>
  </i>
</div>
