html,
body {
  margin: 0;
  background-color: #F5F6F7;
  font-family: roboto;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
}

#boards {
  position: relative;
}

.boardsWrapper {
  flex: 1;
}

app-teams-module {
  margin-right: 16px;
}

h3 {
  line-height: 50px;
  margin: 16px 0 16px 16px;
}

h3:first-letter {
  text-transform: uppercase;
}

h2 {
  margin: 15px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.13fr;
  position: relative;
}

.menuBtn {
  position: absolute;
  right: 0;
}

.card {
  width: 100%;
  background: var(--cards);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  display: table;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  height: 50px;
  overflow: hidden;
}

#distributionBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

.entryBar {
  height: 10px;

}

#todoBar {
  background-color: #e74c3c;
}

#inProgressBar {
  background-color: #f1c40f;
}

#doneBar {
  background-color: #27ae60;
}

#boards, #archived {
  outline: 0;
}

.deleteBtn {
  font-family: roboto;
  float: right;
  background-color: red;
  text-align: center;
  transition: all 0.3s;
}

.deleteBtn:hover{
    opacity: 0.9;
}

.deleteBtn h3 {
  line-height: 50px;
  color: white;
  margin-left: 0;
}

#noTeam {
  text-align: center;
  width: calc(100% - 40px);
  max-width: 400px;
  margin: 100px auto 0 auto;
  padding: 20px;
}

#noEntries {
  margin-top: 15%;
  text-align: center;
  margin-left: 120px;
}

h4 {
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  main {
    display: block;
  }
  app-teams-module {
    margin: 0;
  }
  h2 {
    font-size: 19px;
  }
  #noEntries {
    margin-left: unset;
  }
}

