.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.close:hover {
    color: #484848;
}

.comment {
  display: flex;
  position: relative;
}

.menuBtn {
  position: absolute;
  right: 0;
  /* line-height: 90px; */
}

.profilePic {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-top: 15px;;
}

.usernameTxt {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.commentTxt {
  margin: 0;
}

.txtWrapper {
  margin: 21px 0 15px 15px;
}

#dialogContent {
  width: 90%;
  display: table;
  margin: 0 auto;
}

.inp {
  width: 85%;
}

#submitBtn {
  margin-left: 20px;
}