<mat-dialog-content>
  <mat-icon (click)="this.close()" class="close">close</mat-icon>
  <div id="dialogContent">
    <div class="content">
      <h1>{{data.entry.txt}}</h1>
    </div>

    <form [formGroup]="commentForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="inp">
        <input matInput placeholder="Write your comment" [formControl]="commentFormControl">
        <mat-error *ngIf="commentFormControl.hasError('required')">
          Name is
          <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button id="submitBtn" type="submit" mat-stroked-button>Comment</button>
    </form>

    <div id="commentsContainer">
      <div class="comment" *ngFor="let comment of comments$ | async">

        <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editComment(comment)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteComment(comment)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

        <img class="profilePic" [src]="comment.imgUrl">
        <div class="txtWrapper">
          <p class="usernameTxt">{{comment.username}}</p>
          <p class="commentTxt">{{comment.txt}}</p>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
