<form [formGroup]="form" (ngSubmit)="add()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Text</mat-label>
      <input #txt [value]="data.entry?.txt" formControlName="txt" matInput placeholder="Describe the task">
    </mat-form-field>
    <br>
    <app-priority [(priority)]="priority" (priorityChanged)="this.priority = $event"></app-priority>
    <br>
    <mat-form-field *ngIf="assignDeveloper">
      <mat-select placeholder="Developer assigned for task" formControlName="assignedDeveloper"
        [value]="data.entry?.assigned">
        <mat-option *ngFor="let developer of teamMembers$ | async" [value]="developer.value">
          {{developer.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <div *ngIf="subtasks">
      <mat-form-field appearance="outline">
        <mat-label>Subtask</mat-label>
        <input matInput placeholder="Add a subtask">
      </mat-form-field>
      <div *ngFor="let subtask of subtaskList">
        {{subtask.txt}}
      </div>
    </div>
    <br>
    <mat-form-field *ngIf="linkPreview" appearance="outline">
      <mat-label>Link</mat-label>
      <input #link [value]="data.entry?.link" formControlName="linkInp" placeholder="Paste link here" matInput>
    </mat-form-field>
    <mat-chip-list [multiple]="true">
      <mat-chip [selected]="assignDeveloper" (click)="assignDeveloper = !assignDeveloper" color="accent">
        <mat-icon>face</mat-icon><span>Assign developer</span>
      </mat-chip>
      <mat-chip [selected]="image" (click)="image = !image" color="accent">
        <mat-icon>image</mat-icon><span>Add image</span>
      </mat-chip>
      <mat-chip [selected]="linkPreview" (click)="linkPreview = !linkPreview" color="accent">
        <mat-icon>link</mat-icon><span>Add link</span>
      </mat-chip>
      <mat-chip [selected]="subtasks" (click)="subtasks = !subtasks" color="accent">
        <mat-icon>format_list_bulleted</mat-icon><span>Add subtasks</span>
      </mat-chip>
    </mat-chip-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="submit" cdkFocusInitial>OK</button>
  </mat-dialog-actions>
</form>