<main *ngIf="(boardsService.$teams | async)?.length > 0">
  <app-teams-module></app-teams-module>
  <div class="boardsWrapper">
    <h2>Active projects</h2>
    <section id="boards" *ngFor="let board of $boards | async" [routerLink]="['/scrum', teamId, board.id]">
      <div class="card">
        <div class="container">
          <h3>{{board.name}}</h3>
          <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(board)">
              <mat-icon>edit</mat-icon>
              <span>Rename</span>
            </button>
            <button mat-menu-item (click)="archive(board)">
              <mat-icon>move_to_inbox</mat-icon>
              <span>Archive</span>
            </button>
            <button mat-menu-item (click)="delete(board)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </section>
    <div id="archivedWrapper" *ngIf="($archived | async)?.length > 0">
      <br>
      <h2>Archived projects</h2>
      <section id="archived" *ngFor="let archivedBoard of $archived | async">
        <div class="card">
          <div class="container">
            <h3>{{archivedBoard.name}}</h3>
            <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="activate(archivedBoard)">
                <mat-icon>undo</mat-icon>
                <span>Reactivate</span>
              </button>
              <button mat-menu-item (click)="deleteArchived(archivedBoard)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </section>
    </div>
  </div>

</main>

<div *ngIf="($boards | async)?.length == 0 && ($archived | async)?.length == 0" id="noEntries">
    <div>
      <p>No scrumboards</p>
      <h5>¯\_(ツ)_/¯</h5>
    </div>
  </div>

<div id="noTeam" *ngIf="(boardsService.$teams | async)?.length === 0">
  <h2>Hi {{(auth.user$ | async)?.displayName}}!</h2>
  <p>You are currently not a member of any team. You can join a team by being invited. You can also create your own team with the button below.</p>
  <button mat-raised-button (click)="boardsService.createNewTeam()">Create a new team</button>
</div>


<button *ngIf="(boardsService.$teams | async)?.length > 0" mat-fab id="addButton" (click)="addBoard()" (click)="$event.stopPropagation()">
  <mat-icon>add</mat-icon>
</button>