html,
body {
  margin: 0;
  background-color: #F5F6F7;
  font-family: roboto;
}

main, footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
}

.boardsWrapper {
  flex: 1;
}

app-teams-module {
  margin-right: 16px;
}

h3 {
  line-height: 50px;
  margin: 16px 0 16px 16px;
}

h3:first-letter {
  text-transform: uppercase;
}

h2 {
  margin: 15px 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.13fr;
  position: relative;
}

.menuBtn {
  position: absolute;
  right: 0;
}

.card {
  width: 100%;
  background: var(--cards);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  display: table;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  height: 50px;
}

#boards, #archived {
  outline: 0;
}

.deleteBtn {
  font-family: roboto;
  float: right;
  background-color: red;
  text-align: center;
  transition: all 0.3s;
}

.deleteBtn:hover{
    opacity: 0.9;
}

.deleteBtn h3 {
  line-height: 50px;
  color: white;
  margin-left: 0;
}

@media only screen and (max-width: 800px) {
  main {
    display: block;
  }
  app-teams-module {
    margin: 0;
  }
  h2 {
    font-size: 19px;
  }
}

