<main>
  <app-teams-module></app-teams-module>
  <div id="boardsWrapper">
    <h2>All boards</h2>
    <section id="boards" *ngFor="let board of $boards | async" [routerLink]="['/scrum', teamId, board.id]">
      <div class="card">
        <div class="container">
          <h3>{{board.name}}</h3>
          <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(board)">
              <mat-icon>edit</mat-icon>
              <span>Rename</span>
            </button>
            <button mat-menu-item (click)="archive(board)">
              <mat-icon>move_to_inbox</mat-icon>
              <span>Archive</span>
            </button>
            <button mat-menu-item (click)="delete(board)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </section>
  </div>
</main>

<button mat-fab id="addButton" (click)="addBoard()" (click)="$event.stopPropagation()">
  <mat-icon>add</mat-icon>
</button>