h4 {
    margin-bottom: 0;
    font-size: 15px;
}

#newTeamBtn {
    color: var(--button-color);
    font-weight: bold;
    border: 1px solid #e8eaed;
    border-radius: 999px;
    padding: 5px 23px;
    margin: 10px 0;
}

#newTeamTxt {
    margin-left: 10px;
}

img {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    margin-right: 6px;
}

.txtWrapper {
    display: inline-block;
    width: 155px;
}

.txtWrapper p {
    margin: 0 0 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.teamName {
    font-weight: bold;
    line-height: 17px;
    padding-bottom: 4px;
}

.amountMembers {
    font-size: 10px;
    margin: 0;
    line-height: 10px;
}

.teamSelectBtn {
    text-align: left;
    width: 100%;
    height: 100%;
    padding-right: 22px !important;
}

.teamButtonDiv {
    position: relative;
    margin-top: 5px;
    width: 250px;
    height: 70px;
    color: var(--txt-color) !important;
}

.menuBtn {
    position: absolute;
    right: -6px;
    top: -2px;
}

.selected {
    color: var(--bg-color);
}

.selected .teamSelectBtn {
    background: var(--accent-light);
}

.selected .teamName {
    color: var(--button-color);
}

@media only screen and (max-width: 800px) {
    #newTeamBtn {
        width: unset;
        margin-right: 20px;
    }

    h4 {
        margin: 0;
        font-size: 11px;
    }
    #teamsWrapper {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    .teamButtonDiv {
        display: inline-block;
        margin-right: 5px;
    }
}