<div class="radio-group">
  <input class="swalRadioBtns" type="radio" id="option-one" name="selector" value="!" (change)="changed($event)" [checked]="priority == '!'">
  <label class="swalRadioBtnsLabel" for="option-one">!</label>
  <input class="swalRadioBtns" type="radio" id="option-two" name="selector" value="!!" (change)="changed($event)" [checked]="priority == '!!'">
  <label class="swalRadioBtnsLabel" for="option-two">!!</label>
  <input class="swalRadioBtns" type="radio" id="option-three" name="selector" value="!!!" (change)="changed($event)" [checked]="priority == '!!!'">
  <label class="swalRadioBtnsLabel" for="option-three">!!!</label>
</div>