<main>
  <button id="addButton" (click)="add()">+</button>
  <section id="todoSection">
    <h3>TODO</h3>
    <div id="todoElements">
      <div class="card" *ngFor="let entry of $todo | async">
        <div class="container">
          <p>{{entry.txt}}</p>
        </div>
        <button class="setButton" (click)="moveToProgress(entry)">SET TO INPROGRESS</button>
      </div>
    </div>

  </section>
  <section id="inprogressSection">
    <h3>In progress</h3>
    <div id="inprogressElements">
      <div class="card" *ngFor="let entry of $inProgress | async">
        <div class="container">
          <p>
            <strong>Developer: {{entry.developer}}</strong>
          </p>
          <p>{{entry.txt}}</p>
        </div>
        <button class="setButton">SET TO INPROGRESS</button>
      </div>
    </div>
  </section>
  <section id="finishedSection">
    <h3>Done</h3>
    <div id="finishedElements">
      <div class="card" *ngFor="let entry of $done | async">
        <div class="container">
          <p>
            <strong>Developer: {{entry.developer}}</strong>
          </p>
          <p>{{entry.txt}}</p>
        </div>
        <button class="setButton">SET TO INPROGRESS</button>
      </div>
    </div>
  </section>
</main>