<button (click)="linkShareSwal.show()" id="shareBtn" mat-stroked-button>
  <mat-icon>link</mat-icon>Share</button>

<header>
  <div id="tabNav">
    <ul>
      <li [class.active]="navTab == 'todo'" class="selected" (click)="navTab = 'todo'">To-do</li>
      <li [class.active]="navTab == 'bugs'" class="selected" (click)="navTab = 'bugs'">Bugs</li>
      <li [class.active]="navTab == 'ideas'" (click)="navTab = 'ideas'">Ideas</li>
      <li [class.active]="navTab == 'notes'" (click)="navTab = 'notes'">Notes</li>
      <li [class.active]="navTab == 'beta'" (click)="navTab = 'beta'">Beta</li>
    </ul>
  </div>
</header>

<main [ngSwitch]='navTab'>
  <div *ngSwitchCase="'todo'" id="todoContainer">
    <div id="sortBy">
      <mat-icon>sort</mat-icon>
      <mat-select placeholder="Sort by" [(value)]="scrumService.sortBy" (selectionChange)="scrumService.sortChanged()">

        <mat-option (click)='sendEvent("Alphabetical")' value='{"field": "txt", "direction": "asc"}'>Alfabetical</mat-option>
        <mat-option (click)='sendEvent("Newest")' value='{"field": "time", "direction": "desc"}'>Newest</mat-option>
        <mat-option (click)='sendEvent("Oldest")' value='{"field": "time", "direction": "asc"}'>Oldest</mat-option>
        <mat-option (click)='sendEvent("Priority")' value='{"field": "priority", "direction": "desc"}'>Priority</mat-option>
      </mat-select>
    </div>
    <button mat-fab id="addButton" (click)="add()" (click)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
    <section id="todoSection">
      <h3>TODO ({{(scrumService.$todo | async)?.length}})</h3>
      <div id="todoElements">
        <div class="card" *ngFor="let entry of scrumService.$todo | async">
          <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(entry, scrumService.todoCollection$)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="delete(entry, scrumService.todoCollection$)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
          <div class="container">
            <p>
              <strong>Priority: {{entry.priority}}</strong>
            </p>
            <p>{{entry.txt}}</p>
          </div>
          <button class="setButton" (click)="moveToProgress(entry)">SET TO INPROGRESS</button>
        </div>
      </div>

    </section>
    <section id="inprogressSection">
      <h3>In progress ({{(scrumService.$inProgress | async)?.length}})</h3>
      <div id="inprogressElements">
        <div class="card" *ngFor="let entry of scrumService.$inProgress | async">
          <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(entry, scrumService.inProgressCollection$)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="rollback_from_inprogress(entry)">
              <mat-icon>replay</mat-icon>
              <span>Rollback</span>
            </button>
            <button mat-menu-item (click)="delete(entry, scrumService.inProgressCollection$)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
          <div class="container withProfilePic">
            <div id="profilePic">
              <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
              <mat-icon>account_circle</mat-icon>
            </div>
            <strong>{{entry.developer}}</strong>
            <p>{{entry.txt}}</p>
          </div>
          <button class="setButton" (click)="moveToFinished(entry)">SET TO FINISHED</button>
        </div>
      </div>
    </section>
    <section id="finishedSection">
      <h3>Done ({{(scrumService.$done | async)?.length}})</h3>
      <div id="finishedElements">
        <div class="card" *ngFor="let entry of scrumService.$done | async">
          <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="edit(entry)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="rollback_from_finished(entry)">
              <mat-icon>replay</mat-icon>
              <span>Rollback</span>
            </button>
            <button mat-menu-item (click)="delete(entry, scrumService.doneCollection$)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
          <div class="container withProfilePic">
            <div id="profilePic">
              <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
              <mat-icon>account_circle</mat-icon>
            </div>
            <strong>{{entry.developer}}</strong>
            <p>{{entry.txt}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div *ngSwitchCase="'bugs'" id="profileContainer">
    Bugs
    <button mat-fab id="addButton" (click)="addBug()" (click)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="'ideas'" id="profileContainer">
    Ideas
    <button mat-fab id="addButton" (click)="addIdea()" (click)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="'notes'" id="profileContainer">
    Notes
    <button mat-fab id="addButton" (click)="addNote()" (click)="$event.stopPropagation()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div *ngSwitchCase="'beta'" id="profileContainer">
    Beta
  </div>
</main>

<swal #linkShareSwal title="Share with people outside the team">
  <div *swalPartial>
    <p>You can send the link to other users</p>
    <mat-slide-toggle (change)="uploadBoardVisibility($event)" [(checked)]="scrumService.isPublic">
      Slide me!
    </mat-slide-toggle>
  </div>
</swal>