main {
    margin: 16px auto;
    display: flex;
    flex-direction: row;
    font-family: roboto;
}

#sortBy {
    position: absolute;
    right: 50px;
    color: var(--txt-color) !important;
    width: 120px;
}

#sortBy mat-icon {
    margin-top: -3px;
}

mat-select {
    position: inherit;
}

.menuBtn {
    position: absolute;
    right: 0;
}

main>section {
    flex-grow: 1;
    margin: 0 10px;
    max-width: calc(33.33% - 20px);
}

section .container {
    margin: 0 10px;
}

.card {
    width: 100%;
    background: var(--cards);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    display: table;
    border-radius: 2px;
    margin-bottom: 13px;
    overflow: hidden;
    position: relative;
}

#backButton {
    cursor: pointer;
    position: absolute;
    left: 30px;
    font-size: 35px;
    top: 24px;
}

.setButton {
    width: 100%;
    border-style: none;
    font-size: 15px;
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
}

.setButton:hover {
    background-color: var(--button-accent);
}

.container>p {
    font-size: 19px;
}

.container>p:first-letter {
    text-transform: uppercase;
}

@media only screen and (max-width: 800px) {
    main {
        display: block;
        margin: 0 auto;
        padding-top: 5px;
    }
    main>section {
        max-width: unset;
        margin: 0;
    }
    #sortBy {
        top: 80px;
    }
}