<header>
<div id="tabNav">
  <ul>
    <li [class.active]="navTab == 'todo'" class="selected" (click)="navTab = 'todo'">To-do</li>
    <li [class.active]="navTab == 'notes'" (click)="navTab = 'notes'">Notes</li>
    <li [class.active]="navTab == 'ideas'" (click)="navTab = 'ideas'">Ideas</li>
    <li [class.active]="navTab == 'beta'" (click)="navTab = 'beta'">Beta</li>
  </ul>
</div>
</header>

<main [ngSwitch]='navTab'>
<div *ngSwitchCase="'todo'" id="todoContainer">
  <div id="sortBy">
    <mat-icon>sort</mat-icon>
    <mat-select placeholder="Sort by" [(value)]="sortBy" (selectionChange)="sortChanged()">

      <mat-option (click)='sendEvent("Alphabetical")' value='{"field": "txt", "direction": "asc"}'>Alfabetical</mat-option>
      <mat-option (click)='sendEvent("Newest")' value='{"field": "time", "direction": "desc"}'>Newest</mat-option>
      <mat-option (click)='sendEvent("Oldest")' value='{"field": "time", "direction": "asc"}'>Oldest</mat-option>
      <mat-option (click)='sendEvent("Priority")' value='{"field": "priority", "direction": "desc"}'>Priority</mat-option>
    </mat-select>
  </div>
  <button mat-fab id="addButton" (click)="add()" (click)="$event.stopPropagation()">
    <mat-icon>add</mat-icon>
  </button>
  <section id="todoSection">
    <h3>TODO</h3>
    <div id="todoElements">
      <div class="card" *ngFor="let entry of $todo | async">
        <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(entry, todoCollection)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete(entry, todoCollection)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <div class="container">
          <p>
            <strong>Priority: {{entry.priority}}</strong>
          </p>
          <p>{{entry.txt}}</p>
        </div>
        <button class="setButton" (click)="moveToProgress(entry)">SET TO INPROGRESS</button>
      </div>
    </div>

  </section>
  <section id="inprogressSection">
    <h3>In progress</h3>
    <div id="inprogressElements">
      <div class="card" *ngFor="let entry of $inProgress | async">
        <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(entry, inProgressCollection)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="rollback_from_inprogress(entry)">
            <mat-icon>replay</mat-icon>
            <span>Rollback</span>
          </button>
          <button mat-menu-item (click)="delete(entry, inProgressCollection)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <div class="container withProfilePic">
          <div id="profilePic">
            <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
            <mat-icon>account_circle</mat-icon>
          </div>
          <strong>{{entry.developer}}</strong>
          <p>{{entry.txt}}</p>
        </div>
        <button class="setButton" (click)="moveToFinished(entry)">SET TO FINISHED</button>
      </div>
    </div>
  </section>
  <section id="finishedSection">
    <h3>Done</h3>
    <div id="finishedElements">
      <div class="card" *ngFor="let entry of $done | async">
        <button class="menuBtn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="edit(entry, doneCollection)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="rollback_from_finished(entry)">
            <mat-icon>replay</mat-icon>
            <span>Rollback</span>
          </button>
          <button mat-menu-item (click)="delete(entry, doneCollection)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
        <div class="container withProfilePic">
          <div id="profilePic">
            <img *ngIf="entry.imgUrl" src="{{entry.imgUrl}}">
            <mat-icon>account_circle</mat-icon>
          </div>
          <strong>{{entry.developer}}</strong>
          <p>{{entry.txt}}</p>
        </div>
      </div>
    </div>
  </section>
  </div>
<div *ngSwitchCase="'notes'" id="profileContainer">
  Notes
</div>
<div *ngSwitchCase="'ideas'" id="profileContainer">
  Ideas
</div>
<div *ngSwitchCase="'beta'" id="profileContainer">
  Beta
</div>
</main>
