$header: #1D2A32;
$bg: #203139;
$cards: #2B3942;

body:  #F5F6F7 /* background-color */
header:  #4285f4 /* background-color */
header h1: white /* color */
.card: white /* background */
a: #484848 /* color */
#addButton: white /* color */
#addButton: #4285f4 /* background-color */
.setButton: white /* color */
.setButton: #4285f4 /* background-color */
