@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

body {
    --header: white;
    --cards: white;
    --txt-color: #484848;
    --bg-color: white;
    --button-color: #4285f4;
    --header-title: #4285f4;
}

html,
body {
    margin: 0;
    font-family: roboto;
    color: var(--txt-color);
    background: var(--bg-color);
    transition: background-color .4s, color .4s;
}

main {
    max-width: 1600px;
    display: table;
    padding: 20px;
    width: calc(100% - 40px);
}

#addButton {
    position: fixed;
    bottom: 32px;
    right: 32px;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 50%;
    border-style: none;
    background-color: var(--button-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    outline: 0;
    z-index: 9;
}

#addButton mat-icon {
    width: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 30px;
}