h4 {
    margin-bottom: 0;
    font-size: 15px;
}

.teamSelectBtn {
    text-align: left;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.teamButtonDiv {
    position: relative;
    margin-top: 5px;
    width: 150px;
}

.menuBtn {
    position: absolute;
    right: -6px;
    top: -2px;
}

.selected {
    color: var(--bg-color);
}

.selected .teamSelectBtn {
    background: var(--button-color);
}

@media only screen and (max-width: 800px) {
    h4 {
        margin: 0;
        font-size: 11px;
    }
    #teamsWrapper {
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
    .teamButtonDiv {
        display: inline-block;
        margin-right: 5px;
    }
}