#magsonTeam {
    background: rgba(0, 0, 255, .2)
}

button {
    margin-top: 5px;
    margin-top: 5px;
    width: 150px;
    text-align: left;
    display: list-item;
}

.teamButtonDiv {
   display: grid;
   grid-template-columns: 1fr 0.13fr;
   position: relative;
}

.menuBtn {
  position: absolute;
  right: 0;
}