<h4>
  <strong>Teams</strong>
</h4>
<div id="teamsWrapper">
  <div *ngFor="let team of teamsService.$teams | async" class="teamButtonDiv" [ngClass]="{'selected': (route.paramMap | async).get('teamId') === team.id}">
    <button class="teamSelectBtn" mat-button (click)="selectTeam(team.id)">{{team.name}}</button>
    <button class="menuBtn" *ngIf="(route.paramMap | async).get('teamId') === team.id" mat-icon-button [matMenuTriggerFor]="menu"
      (click)="$event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/team', team.id]">
        <!-- <button mat-menu-item (click)="addMember(team.id, team.name)"> -->
        <mat-icon>people</mat-icon>
        <span>Manage team</span>
      </button>
      <button mat-menu-item (click)="leaveTeam(team.id)">
        <mat-icon>exit_to_app</mat-icon>
        <span>Leave</span>
      </button>
    </mat-menu>
  </div>
  <div class="teamButtonDiv">
    <button class="teamSelectBtn" mat-button (click)="teamsService.createNewTeam()">+ Create a team</button>
  </div>
</div>